doctype html
html.h-100
  head
    block head
      title= title
      //- link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/bootstrap.bundle.min.js')
  body.d-flex.h-100.text-center.text-bg-dark
    block content
