doctype html
html(lang='en' data-bs-theme='dark')
  head
    block head
      title Sign in - My App
      script(src='/javascripts/jquery.min.js')
      script(src='/javascripts/popper.min.js')
      script(src='/javascripts/bootstrap.bundle.min.js')
      //- link(rel='stylesheet', href='/stylesheets/css@3.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
      link(rel='apple-touch-icon' href='/images/apple-touch-icon.png' sizes='180x180')
      link(rel='icon' href='/images/favicon-32x32.png' sizes='32x32' type='image/png')
      link(rel='icon' href='/images/favicon-16x16.png' sizes='16x16' type='image/png')
      link(rel='manifest' href='/other/manifest.json')
      link(rel='mask-icon' href='/images/safari-pinned-tab.svg' color='#712cf9')
      link(rel='icon' href='/images/favicon.ico')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='theme-color', content='#712cf9')

      link(rel='stylesheet', href='/stylesheets/sign-in.css')
      script(src='/javascripts/sign-in.js')

     
      
  body.d-flex.align-items-center.py-4.bg-body-tertiary 
    svg.d-none(xmlns='http://www.w3.org/2000/svg')
      symbol#check2(viewBox='0 0 16 16')
        path(d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z')
      symbol#circle-half(viewBox='0 0 16 16')
        path(d='M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z')
      symbol#moon-stars-fill(viewBox='0 0 16 16')
        path(d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z')
        path(d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z')
      symbol#sun-fill(viewBox='0 0 16 16')
        path(d='M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z')
    div.dropdown.position-fixed.bottom-0.end-0.mb-3.me-3.bd-mode-toggle
      button.btn.btn-bd-primary.py-2.dropdown-toggle.d-flex.align-items-center(id='bd-theme' type='button' data-bs-toggle='dropdown' aria-expanded='false' aria-label='Toggle theme(auto)')
        svg.bi.my-1.theme-icon-active(width='1em' height='1em')
          use(href='#circle-half')
        span.visually-hidden#bd-theme-text Toggle Theme
      ul.dropdown-menu.dropdown-menu-end.shadow(aria-labelledby='bd-theme-text')
        li 
          button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='light' aria-pressed='false')
            svg.bi.me-2.theme-icon.opacity-50(width='1em' height='1em')
              use(href='#sun-fill') 
            |  Light 
            svg.bi.ms-auto.d-none(width='1em' height='1em')
              use(href='#check2')
        li 
          button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='dark' aria-pressed='false')
            svg.bi.me-2.theme-icon.opacity-50(width='1em' height='1em')
              use(href='#moon-stars-fill') 
            |  Dark
            svg.bi.ms-auto.d-none(width='1em' height='1em')
              use(href='#check2')
        li 
          button.dropdown-item.d-flex.align-items-center(type='button' data-bs-theme-value='auto' aria-pressed='true')
            svg.bi.me-2.theme-icon.opacity-50(width='1em' height='1em')
              use(href='#circle-half') 
            |  Auto
            svg.bi.ms-auto.d-none(width='1em' height='1em')
              use(href='#check2')
    main.form-signin.w-100
      form
        //- img.mb-4(src='/images/bootstrap-logo.svg' alt="" width='72' height='57')
        h1.h3.mb-3.fw-normal Please sign in
        div.form-floating.mt-3
          input.form-control(type='text' name='qq_number' id='floatingInput' placeholder='qq number' required autofocus)
          label.form-label(for='floatingInput') QQ Number
        div.form-floating.mt-3
          input.form-control(type='password' name='code' id='floatingPassword' placeholder='Code' required)
          label.form-label(for='floatingPassword') Code
        //- div.form-check.text-start.my-3
        //-   input.form-check-input(type='checkbox' name='remember' id='flexCheckDefault' value='remember-me')
        //-   label.form-label(for='flexCheckDefault') Password Remember me
        button.w-100.btn.btn-primary.py-2.mt-2(type='button' onclick='myFunction()') Sign in
        button.w-50.btn.btn-sm.py-2.mt-3(type='button' data-bs-toggle='tooltip' data-bs-placement='bottom' data-bs-custom-class='custom-tooltip' title='Send a message to LangBao to get the Code, which is valid for 1 day.') What is Code？
        div#liveAlertPlaceholder
        //- data-bs-toggle="tooltip" data-bs-placement="top"
        //- data-bs-custom-class="custom-tooltip"
        //- data-bs-title="This top tooltip is themed via CSS variables."
  //- div.alert.alert-danger(role='alert' id='alert')
  //-   | Wrong QQ Number or Code

script. 
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl)) 
  const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
  function myFunction() {
    var code  = document.getElementById("floatingPassword");
    var qqnumber = document.getElementById("floatingInput");
    if (code.value == 22 && qqnumber.value == 11) {
      window.location.href = "/dontdie/index";
    } else {
      $('#ealert').alert('close')
      alert('Error, Plz check your number or code!', 'danger')
    }
  }
  const alert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
      `<div class="alert alert-${type} alert-dismissible" role="alert" id="ealert">`,
      `   <div>${message}</div>`,
      '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
      '</div>'
    ].join('')

    alertPlaceholder.append(wrapper)
  }